KM_2014/WebSite/KYQuery/App_WebReferences/KYServiceReference/KYServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KYServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KYServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWicketStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WicketStatistics" nillable="true" type="tns:WicketStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWicketStatistics" nillable="true" type="tns:ArrayOfWicketStatistics" />
  <xs:complexType name="WicketStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="JPS" type="xs:int" />
      <xs:element minOccurs="0" name="JSS" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WicketStatistics" nillable="true" type="tns:WicketStatistics" />
</xs:schema>