KM_2014/WebSite/KYQuery/App_WebReferences/KYServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/KM.KYData.Model" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/KYServiceLibrary" />
  <xs:element name="GetKyzList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKyzListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetKyzListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWicketCTQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kyz_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rq" type="xs:dateTime" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="isCurrent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWicketCTQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KM.KYData.Model" minOccurs="0" name="GetWicketCTQueryResult" nillable="true" type="q2:ArrayOfCPB_CT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWicketBCQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kyz_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rq" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isCurrent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWicketBCQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KM.KYData.Model" minOccurs="0" name="GetWicketBCQueryResult" nillable="true" type="q3:ArrayOfCPB_CT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWicketStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kyz_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="mode" type="q4:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWicketStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KYServiceLibrary" minOccurs="0" name="GetWicketStatisticsResult" nillable="true" type="q5:ArrayOfWicketStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>