WL_2013/WLDataLogicLayer/Service References/WLCentralServiceReference/Central.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Central" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WLDataModelLayer" />
      <xsd:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
      <xsd:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICentral_GetServiceInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="ICentral_GetServiceInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Exist_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_Exist" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Exist_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_Insert" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_Update" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_Read" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadByCZRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadByCZRQ" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadByCZRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadByCZRQResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_GetAllCZRQ_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_GetAllCZRQ" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_GetAllCZRQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_GetAllCZRQResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_SetZTType_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_SetZTType" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_SetZTType_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_SetZTTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingZC_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingZC" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingZC_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingZCResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingZCList_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingZCList" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingZCList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingZCListResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadAlreadyZCList_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadAlreadyZCList" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadAlreadyZCList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadAlreadyZCListResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingZCItem_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingZCItem" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingZCItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingZCItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingZCDates_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingZCDates" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingZCDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingZCDatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingXC_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingXC" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingXC_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingXCResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingXCList_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingXCList" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingXCList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingXCListResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadAlreadyXCList_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadAlreadyXCList" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadAlreadyXCList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadAlreadyXCListResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingXCItem_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingXCItem" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingXCItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingXCItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingXCDates_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingXCDates" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingXCDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingXCDatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingSH_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingSH" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingSH_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingSHResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingSHList_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingSHList" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingSHList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingSHListResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadAlreadySHList_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadAlreadySHList" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadAlreadySHList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadAlreadySHListResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingSHItem_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingSHItem" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingSHItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingSHItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingSHDates_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingSHDates" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingSHDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingSHDatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingEH_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingEH" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ExistWaitingEH_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ExistWaitingEHResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingEHList_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingEHList" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingEHList_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingEHListResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingEHItem_InputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingEHItem" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLB_ReadWaitingEHItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLB_ReadWaitingEHItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLT_Exist_InputMessage">
    <wsdl:part name="parameters" element="tns:WLT_Exist" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLT_Exist_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLT_ExistResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLT_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:WLT_Insert" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLT_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLT_InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLT_Reads_InputMessage">
    <wsdl:part name="parameters" element="tns:WLT_Reads" />
  </wsdl:message>
  <wsdl:message name="ICentral_WLT_Reads_OutputMessage">
    <wsdl:part name="parameters" element="tns:WLT_ReadsResponse" />
  </wsdl:message>
  <wsdl:message name="ICentral_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ICentral_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICentral">
    <wsdl:operation name="GetServiceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/GetServiceInfo" message="tns:ICentral_GetServiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/GetServiceInfoResponse" message="tns:ICentral_GetServiceInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_Exist">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_Exist" message="tns:ICentral_WLB_Exist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ExistResponse" message="tns:ICentral_WLB_Exist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_Insert" message="tns:ICentral_WLB_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_InsertResponse" message="tns:ICentral_WLB_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_Update" message="tns:ICentral_WLB_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_UpdateResponse" message="tns:ICentral_WLB_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_Read" message="tns:ICentral_WLB_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadResponse" message="tns:ICentral_WLB_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadByCZRQ">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadByCZRQ" message="tns:ICentral_WLB_ReadByCZRQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadByCZRQResponse" message="tns:ICentral_WLB_ReadByCZRQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_GetAllCZRQ">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_GetAllCZRQ" message="tns:ICentral_WLB_GetAllCZRQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_GetAllCZRQResponse" message="tns:ICentral_WLB_GetAllCZRQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_SetZTType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_SetZTType" message="tns:ICentral_WLB_SetZTType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_SetZTTypeResponse" message="tns:ICentral_WLB_SetZTType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingZC">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingZC" message="tns:ICentral_WLB_ExistWaitingZC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingZCResponse" message="tns:ICentral_WLB_ExistWaitingZC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingZCList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingZCList" message="tns:ICentral_WLB_ReadWaitingZCList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingZCListResponse" message="tns:ICentral_WLB_ReadWaitingZCList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadAlreadyZCList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadAlreadyZCList" message="tns:ICentral_WLB_ReadAlreadyZCList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadAlreadyZCListResponse" message="tns:ICentral_WLB_ReadAlreadyZCList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingZCItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingZCItem" message="tns:ICentral_WLB_ReadWaitingZCItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingZCItemResponse" message="tns:ICentral_WLB_ReadWaitingZCItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingZCDates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingZCDates" message="tns:ICentral_WLB_ReadWaitingZCDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingZCDatesResponse" message="tns:ICentral_WLB_ReadWaitingZCDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingXC">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingXC" message="tns:ICentral_WLB_ExistWaitingXC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingXCResponse" message="tns:ICentral_WLB_ExistWaitingXC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingXCList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingXCList" message="tns:ICentral_WLB_ReadWaitingXCList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingXCListResponse" message="tns:ICentral_WLB_ReadWaitingXCList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadAlreadyXCList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadAlreadyXCList" message="tns:ICentral_WLB_ReadAlreadyXCList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadAlreadyXCListResponse" message="tns:ICentral_WLB_ReadAlreadyXCList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingXCItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingXCItem" message="tns:ICentral_WLB_ReadWaitingXCItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingXCItemResponse" message="tns:ICentral_WLB_ReadWaitingXCItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingXCDates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingXCDates" message="tns:ICentral_WLB_ReadWaitingXCDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingXCDatesResponse" message="tns:ICentral_WLB_ReadWaitingXCDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingSH">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingSH" message="tns:ICentral_WLB_ExistWaitingSH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingSHResponse" message="tns:ICentral_WLB_ExistWaitingSH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingSHList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingSHList" message="tns:ICentral_WLB_ReadWaitingSHList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingSHListResponse" message="tns:ICentral_WLB_ReadWaitingSHList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadAlreadySHList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadAlreadySHList" message="tns:ICentral_WLB_ReadAlreadySHList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadAlreadySHListResponse" message="tns:ICentral_WLB_ReadAlreadySHList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingSHItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingSHItem" message="tns:ICentral_WLB_ReadWaitingSHItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingSHItemResponse" message="tns:ICentral_WLB_ReadWaitingSHItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingSHDates">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingSHDates" message="tns:ICentral_WLB_ReadWaitingSHDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingSHDatesResponse" message="tns:ICentral_WLB_ReadWaitingSHDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingEH">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingEH" message="tns:ICentral_WLB_ExistWaitingEH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ExistWaitingEHResponse" message="tns:ICentral_WLB_ExistWaitingEH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingEHList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingEHList" message="tns:ICentral_WLB_ReadWaitingEHList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingEHListResponse" message="tns:ICentral_WLB_ReadWaitingEHList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingEHItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingEHItem" message="tns:ICentral_WLB_ReadWaitingEHItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLB_ReadWaitingEHItemResponse" message="tns:ICentral_WLB_ReadWaitingEHItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLT_Exist">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLT_Exist" message="tns:ICentral_WLT_Exist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLT_ExistResponse" message="tns:ICentral_WLT_Exist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLT_Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLT_Insert" message="tns:ICentral_WLT_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLT_InsertResponse" message="tns:ICentral_WLT_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WLT_Reads">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/WLT_Reads" message="tns:ICentral_WLT_Reads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/WLT_ReadsResponse" message="tns:ICentral_WLT_Reads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentral/Execute" message="tns:ICentral_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentral/ExecuteResponse" message="tns:ICentral_Execute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICentral" type="tns:ICentral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://tempuri.org/ICentral/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_Exist">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_Exist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_Insert">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_Update">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_Read">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadByCZRQ">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadByCZRQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_GetAllCZRQ">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_GetAllCZRQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_SetZTType">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_SetZTType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingZC">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ExistWaitingZC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingZCList">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingZCList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadAlreadyZCList">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadAlreadyZCList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingZCItem">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingZCItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingZCDates">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingZCDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingXC">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ExistWaitingXC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingXCList">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingXCList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadAlreadyXCList">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadAlreadyXCList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingXCItem">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingXCItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingXCDates">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingXCDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingSH">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ExistWaitingSH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingSHList">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingSHList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadAlreadySHList">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadAlreadySHList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingSHItem">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingSHItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingSHDates">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingSHDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ExistWaitingEH">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ExistWaitingEH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingEHList">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingEHList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLB_ReadWaitingEHItem">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLB_ReadWaitingEHItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLT_Exist">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLT_Exist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLT_Insert">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLT_Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WLT_Reads">
      <soap:operation soapAction="http://tempuri.org/ICentral/WLT_Reads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/ICentral/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Central">
    <wsdl:port name="BasicHttpBinding_ICentral" binding="tns:BasicHttpBinding_ICentral">
      <soap:address location="http://wl-server/WLCentralService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>