WL_2013/WLDataLogicLayer/Service References/WLCentralServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WLDataModelLayer" />
  <xs:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
  <xs:import schemaLocation="http://wl-server/WLCentralService/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="item" nillable="true" type="q1:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="item" nillable="true" type="q2:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="item" nillable="true" type="q3:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_UpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadResult" nillable="true" type="q4:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadByCZRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadByCZRQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadByCZRQResult" nillable="true" type="q5:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_GetAllCZRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="mode" type="q6:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_GetAllCZRQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WLB_GetAllCZRQResult" nillable="true" type="q7:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_SetZTType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="ztType" type="q8:ZTType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_SetZTTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_SetZTTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingZC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingZCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_ExistWaitingZCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingZCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingZCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingZCListResult" nillable="true" type="q9:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadAlreadyZCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadAlreadyZCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadAlreadyZCListResult" nillable="true" type="q10:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingZCItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingZCItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingZCItemResult" nillable="true" type="q11:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingZCDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="mode" type="q12:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingZCDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WLB_ReadWaitingZCDatesResult" nillable="true" type="q13:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingXC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingXCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_ExistWaitingXCResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingXCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingXCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingXCListResult" nillable="true" type="q14:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadAlreadyXCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadAlreadyXCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadAlreadyXCListResult" nillable="true" type="q15:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingXCItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingXCItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingXCItemResult" nillable="true" type="q16:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingXCDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="mode" type="q17:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingXCDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WLB_ReadWaitingXCDatesResult" nillable="true" type="q18:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingSH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingSHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_ExistWaitingSHResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingSHList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingSHListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingSHListResult" nillable="true" type="q19:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadAlreadySHList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadAlreadySHListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadAlreadySHListResult" nillable="true" type="q20:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingSHItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingSHItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingSHItemResult" nillable="true" type="q21:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingSHDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="mode" type="q22:SortOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingSHDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WLB_ReadWaitingSHDatesResult" nillable="true" type="q23:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingEH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ExistWaitingEHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLB_ExistWaitingEHResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingEHList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingEHListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingEHListResult" nillable="true" type="q24:ArrayOfWLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingEHItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLB_ReadWaitingEHItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLB_ReadWaitingEHItemResult" nillable="true" type="q25:WLB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLT_Exist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLT_ExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLT_ExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLT_Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="item" nillable="true" type="q26:WLT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLT_InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WLT_InsertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLT_Reads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="node" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WLT_ReadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="WLT_ReadsResult" nillable="true" type="q27:ArrayOfWLT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WLDataModelLayer" minOccurs="0" name="item" nillable="true" type="q28:WLB" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>