WL_2013/WLCollect/Service References/DailySheetServiceReference/DailySheetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDailySheet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nodecode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailySheetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailySheetResult" type="tns:DailySheet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DailySheet">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NodeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NodeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Counts1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Packages1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Counts2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Packages2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total2" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CDT" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDailySheetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailySheet" />
  </wsdl:message>
  <wsdl:message name="GetDailySheetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailySheetResponse" />
  </wsdl:message>
  <wsdl:portType name="DailySheetServiceSoap">
    <wsdl:operation name="GetDailySheet">
      <wsdl:input message="tns:GetDailySheetSoapIn" />
      <wsdl:output message="tns:GetDailySheetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DailySheetServiceSoap" type="tns:DailySheetServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDailySheet">
      <soap:operation soapAction="http://tempuri.org/GetDailySheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DailySheetServiceSoap12" type="tns:DailySheetServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDailySheet">
      <soap12:operation soapAction="http://tempuri.org/GetDailySheet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DailySheetService">
    <wsdl:port name="DailySheetServiceSoap" binding="tns:DailySheetServiceSoap">
      <soap:address location="http://localhost:32209/DailySheetService.asmx" />
    </wsdl:port>
    <wsdl:port name="DailySheetServiceSoap12" binding="tns:DailySheetServiceSoap12">
      <soap12:address location="http://localhost:32209/DailySheetService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>